.sort-bar {
  display: flex;
  margin-bottom: 20px;

  &__button {
    border-radius: 5px;
    flex: 1;
    padding: 15px 0;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
    color: #4a4a4a;
    transition: background-color 0.2s;

    &:not(:last-child) {
      margin-right: 2px;
    }

    &:hover {
      background-color: #f2fcff;
    }

    &--active {
      background-color: #2196f3;
      color: #fff;

      &:hover {
        background-color: #2123f2;
      }
    }
  }
}
