.tickets-page {
  &__content {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  &__sidebar {
    width: 232px;
    margin-right: 20px;
  }

  &__main {
    flex: 1;
  }
}
